<div class="hero is-fullheight is-flex is-align-items-center is-justify-content-center">
  <div class="hero-body">
    <div class="container">
      <div class="card" style="width: 1000px; padding: 30px;">
        <div class="card-content" style="padding: 30px;">
          <h1 class="title is-2 has-text-centered">Your Orders</h1>
          <%= render 'orders', orders: @orders %>
        </div>
      </div>
    </div>
  </div>
</div>