body {
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-item {
  color: white;
}

.card {
  background-color: white;
  flex: 1;
}

.fixed-size {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element {
  margin-bottom: 10px;
}

.title {
  color: black;
  flex-grow: 1;
}

strong {
  color: black !important;
}

footer {
  color: black !important;
}

.columns.is-vcentered {
  display: flex;
  align-items: center;
}

.field.is-inline-block {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
}

.field .input,
.field .select,
.field .button {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.field .input::placeholder,
.field .select::placeholder {
  color: white;
}

.red-wine-button {
  background-color: #8B0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.red-wine-button:hover {
  background-color: #A52A2A;
}

.green-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.green-button:hover {
  background-color: #69a628;
}




